<div class="mui-col-sm-12 mui-col-xs-12 mui-col-md-6 mui--pull-right">
  <form {{action 'add' on='submit'}}>
    <div class="mui-textfield">
      <label>Comment ({{charsLeft}} char{{if (not-eq charsLeft 1) 's'}} left)</label>
      <div class="validated-textfield mui-textfield">
        {{typeahead-textarea value=comment.content data=data key='@' maxlength=maxLength rows=3 required=true}}
        <span class="valid-state {{if (v-get comment 'content' 'isInvalid') 'invalid'}}">
          {{fa-icon (if (v-get comment 'content' 'isValid') 'check' 'times')}}
        </span>
      </div>
    </div>
    <button
    type="submit"
    disabled={{v-get comment 'isInvalid'}}
    class="
      save-comment
      pull-right
      mui-btn
      {{if (v-get comment 'isInvalid') 'mui-btn--danger' 'mui-btn--primary'}}
      {{if loading 'loading'}}
    "
    {{action 'add'}}
    >
      Add comment
    </button>
  </form>
</div>
