<strong class="thread-list-item-header">
  <div>
    {{thread.title}}
    <small class="mui--hidden-xs mui--hidden-sm mui--hidden-md">by {{thread.user.identifier}}</small>
  </div>
  <div>
    <span class="label label--secondary pull-right">
      {{#if thread.created}}
        {{moment-format thread.created 'DD.MM.YYYY HH:mm'}}
      {{/if}}
    </span>
    {{#if showTopicLabel}}
      <span class="label label--primary pull-right">
        {{thread.topic.name}}
      </span>
    {{/if}}
  </div>
</strong>
{{thread.preview}}...
