{{side-nav-toggler}}

{{side-nav}}

<main class="main-content {{if navigation.visible 'main-content--pushed'}}">
  {{liquid-outlet}}
</main>

{{outlet 'error'}}

{{notification-container notifications=notifications position='top'}}

{{#if navigation.visible}}
  <div
    class="overlay {{if navigation.visible 'overlay--visible'}}"
    onclick={{action (mut navigation.visible) false}}
  ></div>
{{/if}}
