<div>
  {{pagination-pager
    current=page
    count=pagination.pages
    paginationPrevious='<i class="fa fa-angle-left">'
    paginationNext='<i class="fa fa-angle-right">'
  }}
</div>

<div class="per-page">
  Display per page:
  <ul class="pagination">
    <li class="pagination-item {{if (eq limit 10)  'active'}}">{{#link-to 'topic' (query-params page=pagination.page page=1 limit=10)  class='btn btn-default'}}10{{/link-to}}</li>
    <li class="pagination-item {{if (eq limit 20)  'active'}}">{{#link-to 'topic' (query-params page=pagination.page page=1 limit=20)  class='btn btn-default'}}20{{/link-to}}</li>
    <li class="pagination-item {{if (eq limit 50)  'active'}}">{{#link-to 'topic' (query-params page=pagination.page page=1 limit=50)  class='btn btn-default'}}50{{/link-to}}</li>
    <li class="pagination-item {{if (eq limit 100) 'active'}}">{{#link-to 'topic' (query-params page=pagination.page page=1 limit=100) class='btn btn-default'}}100{{/link-to}}</li>
  </ul>
</div>
